<ion-content class="overflow-y-h">

  <ion-row class="d-flex ion-justify-content-center ion-align-items-center">
    <ion-col size="11">
      <ion-row>
        <ion-col size="12" class="col-img ion-margin-top">
          <img class="img-tutorial" src="/assets/img/skate.svg" alt="imagem-tutorial" style="margin-left: 16px;">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" id="textos">
          <h3>Veja os vencedores</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknow</p>
        </ion-col>
      </ion-row>

      <ion-row class="d-flex ion-justify-content-center">
        <ion-col size="11">
          <ion-button routerLink="/tabs" routerDirection="forward" expand="block" fill="clear" shape="round">
            Iniciar
          </ion-button>
        </ion-col>
      </ion-row>
      
      <ion-row class="d-flex ion-justify-content-center">
        <ion-col size="6" class="d-flex ion-justify-content-center">
          <div class="step"></div>
          <div class="step"></div>
          <div class="step dark"></div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>