<ion-content>

  <div class="background-bottom"></div>
  <img class="img-background" src="/assets/img/c1.png" alt="img-card">
  <div class="background-right"></div>

  <ion-grid fixed>
    <ion-row class="content">
      <ion-col size="12">

        <ion-row style="height: 42vh; position: relative;" class="ion-margin-bottom">
          <ion-col size="12" class="d-flex ion-justify-content-between" style="flex-direction: column;">

            <ion-row style="margin-top: 6px;">
              <ion-col size="6" class="ion-no-padding">
                <button type="button" class="button-back" (click)="goBack()">
                  <img src="/assets/img/back.svg" alt="back-button">
                </button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" class="d-flex ion-align-items-end ion-no-padding">
                <h3 class="ion-no-margin"> Nicolas Santos </h3>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>

        <ion-row class="container-informacoes">
          <ion-col size="12" class="ion-no-padding">

            <ion-row>
              <ion-col size="12">
                <p>Idade</p>
                <h5>18 anos</h5>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <p>Categoria</p>
                <h5>Amador</h5>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <p>Campeonato</p>
                <h5>Campeonato da Zona Ouro</h5>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <p>Local</p>
                <h5>SP - Jandira</h5>
              </ion-col>
            </ion-row>

            <ion-row class="row-contato ion-margin-top">
              <ion-col size="5" class="d-flex ion-align-items-center">
                <img src="/assets/img/instagram 1.svg" color="red" style="width: 20px; height: 20px;" alt="icone-instagram">
                <h5>n1ck.svg</h5>
              </ion-col>
              <ion-col size="6" class="d-flex ion-align-items-center">
                <img src="/assets/img/local_phone.svg" style="width: 24px; height: 24px" alt="icone-celular">
                <h5>(11) 91029-1023</h5>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>

        <div id="line" class="ion-margin-bottom"></div>
        
        <ion-row>
          <ion-col size="12" style="padding-top: 0;">
            <h4 id="title">Sobre</h4>
            <p id="texto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>