:root {
    /** primary **/
    --color-primary: #505050;
    --color-primary-light: #959595;
    --color-primary-dark: #242424;

    /** secondary **/
    --color-secondary: #9e1809;
    --color-secondary-light: #eb6354;
    --color-secondary-dark: #6b1006;

    /** white **/
    --color-white: #fffaff;
    --color-white-light: #ffffff;
    --color-white-dark: #f3f3f3;
}