<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="content">
      <ion-col size="12">

        <ion-row>
          <ion-col size="12">
            <h4>Encontre um Campeonato</h4>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <h5 style="font-weight: 300; margin-bottom: 2px;">Buscar por:</h5>
          </ion-col>
        </ion-row>

        <ion-row style="margin-bottom: 25px;">
          <ion-col size="3" class="ion-no-margin-top">
            <ion-select placeholder="Select One" selectedText="SP">
              <ion-select-option value="f">SP</ion-select-option>
              <ion-select-option value="m">RJ</ion-select-option>
              <ion-select-option value="p">PR</ion-select-option>
              <ion-select-option value="b">BR</ion-select-option>
              <ion-select-option value="g">GO</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="4">
            <ion-select placeholder="Cidade">
              <ion-select-option value="f">Jandira</ion-select-option>
              <ion-select-option value="m">Itapevi</ion-select-option>
              <ion-select-option value="o">Osasco</ion-select-option>
              <ion-select-option value="b">Baruer</ion-select-option>
              <ion-select-option value="c">Carapicuiba</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="5">
            <ion-select placeholder="Categoria">
              <ion-select-option value="f">Iniciante</ion-select-option>
              <ion-select-option value="ma">Amador</ion-select-option>
              <ion-select-option value="m">Mirim</ion-select-option>
              <ion-select-option value="af">Amador - Feminino</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <app-card-campeonato [campeonatos]="campeonatos"></app-card-campeonato>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>